<% include ./partials/header %>

<!-- Page Header -->
    <header class="masthead" style="background-image: url('img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">Brain > Brawn</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          
          <h2 class="section-heading">M.E.R.N. Stack Developer & Product Manager</h2>
          <p>
            My name is Andrew Sartori and I am a junior web developer! I have 5+ years of product management experience with responsibilities spanning the gamut from inbound to outbound product management. I have built and managed products in the digital health industry as well as the eLearning industry. In 2013, I started a company at the Massachusetts Institute of Technology (MIT) where I managed a team of engineers and clinicians to build a suite of tablet-based home healthcare forms, a Google Glass based clinical documentation tool, and a mobile application that uses the camera on an Android device to visualize blood-flow to any area of tissue.
          </p>
          
          <h2 class="section-heading">Technical Skills & Knowledge</h2>
          
          <blockquote class="blockquote">
            HTML & CSS <br>
            JavaScript <br>
            Node.js <br>
            Express.js <br>
            React.js <br>
            MongoDB <br>
            RESTful APIs<br>
            Bootstrap 4 <br>
            Materialize CSS <br>
            <br>
            Agile Methodologies <br>
            S.C.R.U.M. <br>
            Kanban <br>
            Jira <br>
          </blockquote>
          
        </div>
      </div>
    </div>

    <hr>
    
<% include ./partials/footer %>