<% include ./partials/header %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/about-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>HTML, CSS, & JS</h1>
          <span class="subheading">For the Uninitiated</span>
        </div>
      </div>
    </div>
  </div>
</header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Introduction to Basic Web Development</h1>
            
            <p>This is where I put a basic blurb about why this section even exists, as well as why I'm doing this</p>
            <br>
            <a href="/learningResources/htmlANDcss">
                <button>HTML & CSS</button>
            </a>
            <br>
            <a href="/learningResources/javascript">
                <button>JAVASCRIPT</button>
            </a>
        </div>
      </div>
    </div>
  </article>


<% include ./partials/footer %>